/* CSS Document */
html, body {
	font-size:80%;
	padding:0;
	margin:0;	
	height:100%;	
	font-family:Arial, Helvetica, sans-serif;
}

a {
	cursor:pointer;	
}

body#page_index {
	background-color:#999999;	
}

body#page_index div#list_filter {
	position:absolute;
	left:20px;
	margin:6px;
	padding:1px 4px;
	background-color:#cccccc;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

body#page_index div#list_search {
	position:absolute;
	left:20px;
	margin:6px;
	padding:1px 4px;
	background-color:#cccccc;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

body#page_index div#search_results {
	margin-top:20px;
}

body#page_edit input[type=text] {
	width:200px;	
}

body#page_edit select {
	width:207px;	
}

#tabs {
	min-height:98%;		
}

ul {
	border-left:1px dashed #999999;
	padding-left:10px;
	margin-left:8px;	
}

.tabs li {
	list-style:none;
	background-color:#ffffff;
	clear:both;
}

.tabs div.list_wrapper {
	float:left;
}

.tabs div.list_header {
	background-color:#555555;
	padding:3px;	
}

.tabs div.list_header a.link_additem {
	display:block;
	float:left;
	background:transparent url("../img/iconset_coquette/add.png") no-repeat bottom center;	
	height:16px;
	width:16px;
}

.tabs div.list_header a:hover.link_additem,
.tabs div.list_header a:active.link_additem {
	background-color:#777777;
}

.tabs .link_category_settings {
	float:right;
	display:block;
	background:transparent url("../img/iconset_coquette/process24x24.png") no-repeat bottom center;	
	height:24px;
	width:24px;
}

ul.parent {
	border:none;
	margin-top:25px;	
}

div.item_count {
	color:#cccccc;	
}

table.list {
	border:1px solid #333333;
	padding:0;	
	border-collapse: collapse;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	clear:both;
}

table.list th {
	background-color:#333333;
	color:#cccccc;
	margin:0;
	padding:2px 7px;
}

table.list td {
	margin:0;
	padding:2px 7px;
	text-align:center;
	border:1px solid #dddddd;
}

table.list td.right {
	text-align:right;
}

table.list tr.item {
	cursor:pointer;
}

table.list tr.odd {
	background-color:transparent;
}

table.list tr.even {	
	background-color:#ffedcf;
}

body#page_edit {
	height:90%;
	padding:7px;
}

.clear_this {
	clear:both;	
}
