
label {
	display:inline-block;
	width:75px;
	padding-left:30px;
}

.right_align {
	text-align:center;	
}

.wrapper {
	margin:20% auto;
	border:2px solid #999999;
	background-color:#cccccc;
	width:300px;	
}

.padding3 {
	padding:3px;	
}


